countryinfo/src/main/mule/countryinfo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="319d7c02-8fa9-40bb-bf0a-2beaaeec86d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f4d4dc96-582c-41f6-8809-c46bcbfa6e37" >
		<wsc:connection wsdlLocation="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" service="CountryInfoService" port="CountryInfoServiceSoap" address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="countryinfoFlow" doc:id="4f7ab16f-9570-4a0d-9dcf-bb835f52d0b8" >
		<http:listener doc:name="Listener" doc:id="52573f7a-34ee-4a90-91ba-9a9ae77d57d2" config-ref="HTTP_Listener_config" path="/1"/>
		<wsc:consume doc:id="3938a4d1-c7ae-4c70-b612-fee63b522b86" config-ref="Web_Service_Consumer_Config" operation="ListOfCountryNamesGroupedByContinent"/>
		<ee:transform doc:name="Transform Message" doc:id="d01420f8-3f3d-4f7e-8c58-8b9d4f7afb35" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="7b4e948c-621c-4f94-a708-23ab747a4652" />
		<set-variable value='#[payload.body."ListOfCountryNamesGroupedByContinentResponse"."ListOfCountryNamesGroupedByContinentResult"[0]."CountryCodeAndNames"[7]."sName"]' doc:name='"Cameroon"' doc:id="5a0f5fb7-e3a5-4056-8bf1-57c44e8f53ea" variableName="Cameroon"/>
		<ee:transform doc:name="Transform Message" doc:id="86caafba-9dd1-4437-b300-94b17a1e220b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body."ListOfCountryNamesGroupedByContinentResponse"."ListOfCountryNamesGroupedByContinentResult"."tCountryCodeAndNameGroupedByContinent".."CountryCodeAndNames"]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="India" ><![CDATA[%dw 2.0
output application/json
---
payload filterObject (payload..*"tCountryCodeAndName"..*"sName" == "India")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
